@import './base.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./fonts/IBMPlexSans.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family:
    'IBMPlexSans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: var(--ev-c-text-1);
  background-color: var(--ev-c-background);
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-tertiary: var(--content-tertiary);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-terciary: var(--border-terciary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
}

:root {
  --radius: 0.625rem;
  --background: #fbfcfd; /* backgroundPrimary */
  --foreground: #171b1c; /* contentPrimary */
  --card: #fbfcfd; /* backgroundPrimary */
  --card-foreground: #171b1c; /* contentPrimary */
  --popover: #fbfcfd; /* backgroundPrimary */
  --popover-foreground: #171b1c; /* contentPrimary */
  --primary: #00a67d; /* contentBrand */
  --primary-foreground: #fbfcfd; /* contentAlwaysLight */
  --secondary: #f0f3f3; /* backgroundSecondary */
  --secondary-foreground: #00a67d; /* contentBrand */
  --muted: #e5e9ea; /* backgroundTertiary */
  --muted-foreground: #5e6668; /* contentSecondary */
  --accent: #d1f2e4; /* backgroundBrandLight */
  --accent-foreground: #00a67d; /* contentBrand */
  --destructive: #e61e32; /* accentRed */
  --border: #c8d0d2; /* borderTerciary */
  --input: #b3bdc0; /* borderSecondary */
  --ring: #00a67d; /* contentBrand */
  --content-primary: #171b1c; /* contentPrimary */
  --content-secondary: #5e6668; /* contentSecondary */
  --content-tertiary: #404344; /* contentTertiary */
  --border-primary: #c8d0d2; /* borderPrimary */
  --border-secondary: #b3bdc0; /* borderSecondary */
  --border-terciary: #e5e9ea; /* borderTerciary */
  --background-secondary: #f0f3f3; /* backgroundSecondary */
  --background-tertiary: #f0f3f3; /* backgroundTertiary */

  /* Cores para gráficos */
  --chart-1: #5530e8; /* accentPurple */
  --chart-2: #2a89ef; /* accentBlue */
  --chart-3: #15be78; /* accentGreen */
  --chart-4: #ff850a; /* accentOrange */
  --chart-5: #f9ab10; /* accentYellow */

  /* Sidebar */
  --sidebar: #f0f3f3; /* backgroundSecondary */
  --sidebar-foreground: #171b1c; /* contentPrimary */
  --sidebar-primary: #00a67d; /* contentBrand */
  --sidebar-primary-foreground: #fbfcfd; /* contentAlwaysLight */
  --sidebar-accent: #d1f2e4; /* backgroundBrandLight */
  --sidebar-accent-foreground: #00a67d; /* contentBrand */
  --sidebar-border: #c8d0d2; /* borderTerciary */
  --sidebar-ring: #00a67d; /* contentBrand */
}

.dark {
  --background: #0f1112; /* backgroundPrimary */
  --foreground: #fbfcfd; /* contentPrimary */
  --card: #1c2122; /* backgroundTertiary */
  --card-foreground: #fbfcfd; /* contentPrimary */
  --popover: #1c2122; /* backgroundTertiary */
  --popover-foreground: #fbfcfd; /* contentPrimary */
  --primary: #00b388; /* contentBrand */
  --primary-foreground: #fbfcfd; /* contentAlwaysLight */
  --secondary: #171b1c; /* backgroundSecondary */
  --secondary-foreground: #00b388; /* contentBrand */
  --muted: #2d3234; /* backgroundQuaternary */
  --muted-foreground: #7b8588; /* contentTertiary */
  --accent: #0b5f46; /* backgroundBrandLight */
  --accent-foreground: #00b388; /* contentBrand */
  --destructive: #eb4b5b; /* accentRed */
  --border: #4e5557; /* borderPrimary */
  --input: #2d3234; /* borderSecondary */
  --ring: #00b388; /* contentBrand */
  --content-primary: #fbfcfd; /* contentPrimary */
  --content-secondary: #7b8588; /* contentTertiary */
  --content-tertiary: #4e5557; /* contentQuaternary */
  --background-secondary: #171b1c; /* backgroundSecondary */
  --background-tertiary: #1c2122; /* backgroundTertiary */
  --border-primary: #4e5557; /* borderPrimary */
  --border-secondary: #2d3234; /* borderSecondary */

  /* Cores para gráficos */
  --chart-1: #9d8afe; /* accentPurple */
  --chart-2: #55a1f2; /* accentBlue */
  --chart-3: #44cb93; /* accentGreen */
  --chart-4: #ff9d3b; /* accentOrange */
  --chart-5: #fabc40; /* accentYellow */

  /* Sidebar */
  --sidebar: #171b1c; /* backgroundSecondary */
  --sidebar-foreground: #fbfcfd; /* contentPrimary */
  --sidebar-primary: #00b388; /* contentBrand */
  --sidebar-primary-foreground: #fbfcfd; /* contentAlwaysLight */
  --sidebar-accent: #0b5f46; /* backgroundBrandLight */
  --sidebar-accent-foreground: #00b388; /* contentBrand */
  --sidebar-border: #4e5557; /* borderPrimary */
  --sidebar-ring: #00b388; /* contentBrand */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
